.container-class {
    background-image: url("images/cont.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    border: 2px dashed #333;
}